AuthUserFile /home/prakash/passwd.httpd
AuthGroupFile /dev/null
AuthName "Evapotranspiration data"
AuthType Basic
Satisfy any

<Limit GET POST>
deny from all
require user rudi jordi derek anu doug javier
</Limit>
